
html, body {
    height: 100%;
    margin: 0;
}


/********
 HEADER
*********/

.header_container {
    height: 5%;
    width: 100%;
    background-color: #F24440
}

.header {
    color: white;
    height: 100%;
    line-height: 50px;
    padding-left: 10px;
    font-family: Courier;
    font-weight: 200;
    position: fixed;
}

@media (max-height: 900px) {
    .header {
        line-height: 40px;
    }
}

@media (max-height: 700px) {
    .header {
        line-height: 30px;
    }
}

.top_label {
    color: white;
    /*text-align: right;*/
    padding-right: 1%;
    padding-top: 5px;
    font-family: Courier;
    font-weight: 200;
    font-size: 12px;
    float: right;
}


.zoom_label {
    color: rgb(230, 230, 230);
}

/********
 MAP
*********/

.map_container {
    width: 49.93%;
    height: 47.3%;
    float: left;
    position: relative;
}
.map {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3)
}

/********
 URL FIELD
*********/

.url_field {
    width: 98%;
    height: 81%;
    background-color: transparent;
    font-size: 13px;
    color: white;
    font-weight: 300;
    line-height: 35px;
    padding-left: 5px;
    position: absolute;
    display: none;
}

/***************
 RENDERING ENGINE CHOICE
****************/

.rendering_engine_container {
    right: 5px;
    top: 5px;
    position: absolute;
    z-index: 400;
}

.rendering_engine {
    background-color: rgba(22, 41, 69, 0.7);
    font-size: 13px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    font-family: Courier;
}

.rendering_engine_choice {
    cursor: pointer;
    cursor: hand;
    padding-left: 8px;
    padding-right: 10px;
}

.rendering_engine_active {
    background-color: rgba(22, 41, 69, 0.95);
}

/******************
 DROPDOWN MENU
*******************/

.dropdown_container {
    cursor: pointer;
    cursor: hand;
    background-color: rgba(22, 41, 69, 0.7);
    width: 60%;
    height: 35px;
    z-index: 402;
    position: absolute;
    bottom: 5px;
    right: 5px;

    overflow-x: hidden;
    overflow-y: scroll;
}

.dropdown_container::-webkit-scrollbar { 
    width: 0 !important
}

.dropdown_text {
    float: left;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: white;
    font-size: 14px;
    padding-left: 1%;
}

.dropdown_text_url {
    color: lightgray
}

.dropdown_text_overlay {
    position: absolute;
    float: left;
    width: 100%;
    height: 35px;
    background-color: transparent;
}

.dropdown_image {
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    height: 35px;
    width: 35px;

    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg);

    position: absolute;
    right: 5px;
}

.dropdown_triangle {
    background-image: url("icon_dropdown.png");
}

.cancel_url_field_button {
    background-image: url("icon_cancel.png");
    display: none;

    height: 17px;
    padding-top: 9px;
}

.dropdown_menu {
    position: fixed;
    background-color: rgba(22, 41, 69, 0.7);
    z-index: 401;
}

/************
 OVERRIDES
*************/

.leaflet-right {
    z-index: 5 !important;
}





